<div style="width: 800px;" class="main-div">
    <h2>Users</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef> Roles </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngFor="let role of element.roles">
                    {{role.roleName}}
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary">Add role</button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator style=" margin: 1px 16px; width:100%;  "  [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
</div>