<div fxLayout="column" fxFlexFill>
    <mat-toolbar *ngIf="isMenuVisible" class="navbar-color mat-elevation-z8 p-0" fxLayout="row"
        style="z-index:10; height: 8vh;" class="example-button-row">

        <!-- <button mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button> -->

        <button class="extended-fab-button" mat-fab color="primary" routerLink="/home"
            routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon>
        </button>

        <button class="extended-fab-button" mat-fab color="accent" routerLink="/user"
            routerLinkActive="router-link-active" *ngIf="isAdmin">
            <mat-icon>people</mat-icon>
            <span class="extended-fab-button__text">Users</span>
        </button>

        <button class="extended-fab-button" mat-fab color="accent" routerLink="/restaurant"
            routerLinkActive="router-link-active">
            <mat-icon>people</mat-icon>
            <span class="extended-fab-button__text">Restaurants</span>
        </button>

        <span class="flexExpand"></span>

        <div fxLayout="row" style="margin-right: 20px; " fxShow="false" fxShow.gt-sm>
            <button mat-button (click)="onLogout()">Logout <mat-icon>power_settings_new</mat-icon> </button>
        </div>

    </mat-toolbar>

    <mat-drawer-container fxFlex autosize class="background" style="z-index: 2;">

        <!--PAGES-->
        <div style="display: inline; height:100vh;">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>