<form class="example-form" [formGroup]="restaurantForm" (ngSubmit)="SaveRestaurant()">
    <mat-card>
        <mat-card-content>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" formControlName="id">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Rating</mat-label>
                <input matInput placeholder="Rating" formControlName="rating">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone Number" formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>

            <div class="example-button-row">
                <button mat-raised-button color="primary">Save</button> | <a (click)="ClosePopUp()" mat-raised-button color="accent">Close</a>
            </div>
        </mat-card-content>
    </mat-card>
</form>